.icon{
    position: absolute;  /*Fair epasser l'icon au dessu de la search bar*/
    margin-left: 15px;
    margin-top: 7px;
}

.input{
    border-radius: 30px ;
    background-color: #d9d9d96e;
    height: 30px;
    font-weight: 100px;
    font-size: 20px;
    width: 100%;
    border-color: transparent;
    padding: 18px 18px 18px 50px;
    color: white;
}

.input::placeholder{
    color: rgba(194, 194, 194);
}

.input:focus{
    outline-width: 0px;
    border: solid 1px;
}